---
name: Lint Code Base

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

permissions: read-all

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter@v7.4.0
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          FILTER_REGEX_EXCLUDE: ./docs
          VALIDATE_PYTHON_MYPY: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
