---
name: Lint Code Base

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

permissions: read-all

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6 # zizmor: ignore[unpinned-uses]
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Lint Code Base
        uses: super-linter/super-linter@v8.3.2 # zizmor: ignore[unpinned-uses]
        env:
          SHELL: /bin/bash
          RUN_LOCAL: ${{ env.ACT }}
          IGNORE_GITIGNORED_FILES: true
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          VALIDATE_PYTHON_MYPY: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_TRIVY: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_PYTHON_RUFF: false
          VALIDATE_PYTHON_RUFF_FORMAT: false
